/*GLOBAL */
* {
    font-size: 16px;
    font-family: 'Lora', serif;
    background-color: hsla(177, 2%, 29%, 1);
    color: hsla(177, 4%, 86%, 1);
}


h2 {
    font-size: 2.5rem;
    text-shadow: 0 0 0.15em hsla(177, 100%, 35%, 1);
}

/* DESKTOP SCREEN */

/* NAV SECTION */ 

nav {
    display: flex;
    background-color: hsla(177, 4%, 86%, 0.2);
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-evenly;
    box-shadow: 0 0 0.45em hsla(177, 100%, 35%, 1);
    position: fixed;
    width: 30%;
    border-radius: 2%;
    backdrop-filter: blur(0.3rem);
    margin-left: 65%;
    margin-top: 1%;
}

nav li {
    display: flex;
    list-style-type: none;
}

nav .button {
    background-color: hsla(177, 2%, 29%, 1);
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    border-radius: 0.25em;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
    text-shadow: 0 0 0.25em hsla(177, 100%, 35%, 1);
    display: flex;
    justify-content: center;
}

nav .button:hover {
    transition: 200ms;
    text-shadow: 0 0 0.15em hsla(177, 4%, 86%, 1), 0 0 0.15em hsla(177, 100%, 35%, 1);
    box-shadow: 0 0 0.45em hsla(177, 100%, 35%, 1);
    background-color: hsla(177, 2%, 29%, 0.95);
}


/* HERO SECTION */

.hero-container {
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: auto;
    height: 30rem;
    padding-top: 10rem;
}

#title {
    display: flex;
    font-size: 4rem;
    grid-area: 2 / 3 / span 2 / span 2;
    justify-content: center;
    align-self: center;
    align-content: center;

    animation: background-shadow 3s linear infinite alternate;
}

@keyframes background-shadow {
    0% {
        text-shadow: 0 0 0.15em hsla(177, 100%, 35%, 1);
    }
    50% {
        text-shadow: 0.3em 0.1em 0.25em hsla(177, 100%, 35%, 1), 0 0 0.25em hsla(177, 4%, 86%, 1);
    }
    100% {
        text-shadow: 0 0 0.15em hsla(177, 100%, 35%, 1);
    }
}

#coverPhoto {
    display: flex;
    overflow: hidden;
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
    grid-area: 1 / 1 / span 4 / span 3;
    justify-self: center;
    align-content: center;
    border: 0.2rem solid hsla(177, 100%, 35%, 1);
    box-shadow: 0 0 0.45em hsla(177, 100%, 35%, 1);
}

/*MAIN SECTION */

main {
    display: block;
    margin: 3%;
}

/* ABOUT SECTION */

.about {
    display: flex;
    border: 0.1rem solid hsla(177, 100%, 35%, 1);
    border-radius: 10px;
    justify-content: space-evenly;
    padding-right: 10%;
}

#about-title {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.about p {
    display: flex;
    align-items: center;
    justify-items: center;
}

.about p:hover {
    font-size: 1.4rem;
    transition: .75s;
    flex-wrap: wrap;
}

/* PROJECTS SECTION */

.projects {
    display: flex;
}

/* SKILLS SECTION */

.skills {
    display: block;
}


.language-logos {
    display: flex;
    list-style-type: none;
}
.language-logos img {
    aspect-ratio: 1;
    width: 7rem;
}



/* MOBILE SCREEN */

@media only screen and (max-width: 1298px) and (min-width: 408px) {
    
    /*NAV BAR */

    nav {
        flex-direction: column;
        width: 13%;
        margin-left: 85%;
        column-gap: 10%;
        justify-content: center;
    }

    nav .button {
        margin: 2%;
    }

    /* HERO SECTION */

    #coverPhoto {
        height: 25rem;
        width: 25rem;
        grid-area: 1 / 2 /span 3 / span 3;
    }

    #title {
        grid-area: 4 / 2 / span 1 / span 3;
    }
}

